{% extends "shared/_layout.html" %}

{% load static %}

{% block title %}صفحه حساب کاربری{% endblock title %}

{% block content %}

    <section class="dashboard_container">

            <section class="home_body_header">
                <header>
                    <h4>املاک و مستغلات/حساب کاربری</h4>
                </header>
            </section>

            <section class="main_dashbord">
                <div class="dashboard_body">

                </div>
                <div class="dashboard_sidebar">

                    <section class="dashboard_logo">
                            <img src="{% static "images/bzlnyrrmtcszceimoklzmzcojpqkuyyi.png" %}" alt="">                      
                    </section>

                    <section class="dashboard_opsions">
                        <div class="dashboard">
                            <a href="">داشبورد کاربری</a>
                        </div>
                        <div class="create_property">
                            <a href="">ایجاد ملک</a>
                        </div>
                        <div class="my_ptoperties">
                            <a href="">ملک های من</a>
                        </div>
                        <div class="received_requests">
                            <a href="">درخواست های دریافتی</a>
                        </div>
                        <div class="sended_requestes">
                            <a href="">دخواست های ارسالی</a>
                        </div>                        
                    </section>

                </div>
            </section>

    </section>

{% endblock content %}