{% extends "shared/_layout.html" %}

{% block title %}صفحه ورود{% endblock title %}


{% block content %}

<div class="all_body">

    <main class="home_body_main">

        <section class="home_body_header">
            <header>
                <h4>املاک و مستغلات/ورود</h4>
            </header>
        </section>

        <section class="login_body">

            <main class="login_form">
                <header class="login_header">
                    <h2>ورود به حساب کاربری</h2>
                </header>
                <form action="{% url "login-page" %}" method="post">
                    {% csrf_token %}
                    {{ logination_form.email.label_tag }} {{ logination_form.email }}
                    {{ logination_form.email.errors }}
                    
                    {{ logination_form.password.label_tag }} {{ logination_form.password }}
                    {{ logination_form.password.errors }}
                    {% comment %} <label for="login_email">ایمیل کاربری : </label>
                    <input type="email" name="email_input" id="login_email">
                    <label for="login_password">رمز ورود : </label>
                    <input type="password" name="password_input" id="login_password"> {% endcomment %}
                    <button type="submit" name="button" id="login_button">ورود</button>

                </form>    

            </main>

        </section>
    </main>
</div>

    {% endblock content %}

