{% extends "shared/_layout.html" %}

{% load render_partial %}


{% load static %}

{% block title %}صفحه درخواست های دریافتی{% endblock title %}

{% block content %}

    <section class="dashboard_container">

            <section class="home_body_header">
                <header>
                    <h4>املاک و مستغلات/حساب کاربری</h4>
                </header>
            </section>

            <section class="main_dashbord">
                <div class="dashboard_body">
                    <header>
                        <h3>صفحه درخواست های دریافتی</h3>
                    </header>
                    <main class="dashboard_agent_received_requests">
                        <table>
                            <thead>
                                <tr class="row_of_table">
                                    <th id="number_length">شماره</th>
                                    <th id="title_length">عنوان ملک</th>
                                    <th id="applicant_length">درخواست کننده</th>
                                    <th id="detail_length">جزئیات ملک</th>
                                    <th id="status_length">وضعیت</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for req in agent_request_received %}
                                <tr class="row_of_table">
                                    <td>{{forloop.counter}}</td>
                                    <td>{{req.property_detailes.property_title}}</td>
                                    <td id="applicant_wallet_address">{{req.property_creator.wallet.wallet_address}}</td>
                                    <td><a href="{% url "property-detailes" property_id=req.id %}" style="padding:10px; background-color: skyblue; border-radius: 5px; text-decoration:none; color:white; color:white;">مشاهده</a></td>
                                    {% if req.is_verified and req.property_status.all.first.status == "accepted" %}
                                    <td>
                                        <span style="padding:10px 15px; background-color: rgb(42, 182, 42); border-radius: 5px;">
                                            تایید شده
                                        </span>
                                    </td>
                                    {% elif not req.is_verified and req.property_status.all.first.status == "rejected" %}
                                    <td>
                                        <span style="padding:10px 15px; background-color: rgb(216, 77, 77); border-radius: 5px;">
                                            رد شده
                                        </span>
                                    </td>
                                    {% else %}
                                    <td>
                                        <a href="{% url "agent-accept-request" property_id=req.id %}" style="padding:10px; background-color: green; border-radius: 5px; text-decoration:none; color:white;">تایید</a>
                                        <a href="{% url "agent-reject-request" property_id=req.id %}" style="padding:10px; background-color: red; border-radius: 5px; text-decoration:none; color:white;">رد</a>
                                    </td>
                                    {% endif %}

                                </tr>                                
                                {% endfor %}

                            </tbody>    
                        </table>
                    </main>
                </div>
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
                
            </section>

    </section>

{% endblock content %}