{% extends "shared/_layout.html" %}

{% load render_partial %}


{% load static %}

{% block title %}صفحه ایجاد ملک جدید{% endblock title %}

{% block content %}

    <section class="dashboard_container">

            <section class="home_body_header">
                <header>
                    <h4>املاک و مستغلات/حساب کاربری</h4>
                </header>
            </section>

            <section class="main_dashbord">
                <div class="dashboard_body">
                    <header>
                        <h3>صفحه ایجاد ملک جدید</h3>
                    </header>
                    <main class="dashboard_create_property">                     
                        <form action="{% url "create-property" %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>
                                {{ property_form.type.label_tag }} {{ property_form.type }}
                                {{ logination_form.type.errors }}
                                {% comment %} <label for="property_type">نوع ملک : </label>
                                <input type="text" name="type" id="property_type">                                 {% endcomment %}
                            </div>
                            <div>
                                {{ property_form.title.label_tag }} {{ property_form.title }}
                                {{ logination_form.title.errors }}
                                {% comment %} <label for="property_title">عنوان ملک : </label>
                                <input type="text" name="title" id="property_title">                                 {% endcomment %}
                            </div>
                            <div>
                                {{ property_form.price.label_tag }} {{ property_form.price }}
                                {{ logination_form.price.errors }}
                                {% comment %} <label for="property_price">قیمت ملک : </label>
                                <input type="number" name="price" id="property_price"> {% endcomment %}
                            </div>
                            <div>
                                {{ property_form.length.label_tag }} {{ property_form.length }}
                                {{ logination_form.length.errors }}
                                {% comment %} <label for="property_length">متراژ ملک : </label>
                                <input type="number" name="length" id="property_length"> {% endcomment %}
                            </div>
                            <div>
                                {{ property_form.image.label_tag }} {{ property_form.image }}
                                {{ logination_form.image.errors }}
                                {% comment %} <label for="property_image">تصویر ملک : </label>
                                <input type="file" name="image" id="property_image"> {% endcomment %}
                            </div>

                            <div>
                                {{ property_form.short_description.label_tag }} {{ property_form.short_description }}
                                {{ logination_form.short_description.errors }}
                                {% comment %} <label for="property_short_description">توضیحات کوتاه : </label>
                                <input type="text" name="short_description" id="property_short_description"> {% endcomment %}
                            </div>
                            <div>
                                {{ property_form.description.label_tag }} {{ property_form.description }}
                                {{ logination_form.description.errors }}
                                {% comment %} <label for="property_description">توضیحات کامل ملک : </label>
                                <textarea name="description" id="property_description" cols="30" rows="12"></textarea> {% endcomment %}
                                
                            </div>
                            <div>
                                {{ property_form.address.label_tag }} {{ property_form.address }}
                                {{ logination_form.address.errors }}
                                {% comment %} <label for="property_address">آدرس ملک : </label>
                                <textarea name="address" id="property_address" cols="30" rows="8"></textarea> {% endcomment %}
                                
                            </div>

                            <section>
                                <div>
                                    {{ property_form.document.label_tag }} {{ property_form.document }}
                                    {{ logination_form.document.errors }}
                                    {% comment %} <label for="property_document">تصویر ملک : </label>
                                    <input type="file" name="document" id="property_document"> {% endcomment %}
                                </div>
                            </section>


                            {% comment %} <div> {% endcomment %}
                                <button type="submit" name="button" id="create_property_button">ایجاد</button>
                            {% comment %} </div> {% endcomment %}
        
                        </form>
                    </main>
                </div>
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
                
            </section>

    </section>

{% endblock content %}