{% extends "shared/_layout.html" %}

{% load render_partial %}


{% load static %}

{% block title %}صفحه درخواست های دریافتی{% endblock title %}

{% block content %}

{% csrf_token %}


    <div id="accepting_buy_request_modal" class="accept_buy_request_modal">
        <div class="internal_accept_buy_request_modal">
            <button>x</button>
            <p>آیامایل به پذیرش درخواست خرید ملک توسط خریدار زیر با هزینه تراکنش مربوطه هستید؟</p>
            <div>
                <label> خریدار : </label>
                <span id="buy_request_buyer">0xjewf3wegf35w4e4f34wes3f4we3</span>
            </div>
            <div>
                <label>مقدار بیعانه پرداختی : </label>
                <span id="buy_request_buyer_prepayment">10000</span>
            </div>
            <div>
                <label>هزینه انجام تراکنش : </label>
                <span id="buy_request_buyer_transaction_fee">10000</span>
            </div>
            <section>
                <a id="do_accept_buy_request" href="#">انجام</a>
                <a id="do_reject_buy_request" href="#">لغو</a>
            </section>             
        </div>
    </div>

    <div id="accepting_buy_reqiest_result_modal" class="accept_buy_request_result_modal">
        <div class="internal_accept_buy_request_result_modal">
            <button>x</button>
            <p>عمل درخواست خرید ملک شما با موفقیت انجام شد.</p>
            <section>
                <a id="ok_accept_buy_request_result" href="#">فهمیدم</a>
            </section>             
        </div>
    </div>



    <section class="dashboard_container">

            <section class="home_body_header">
                <header>
                    <h4>املاک و مستغلات/حساب کاربری</h4>
                </header>
            </section>

            <section class="main_dashbord">
                <div class="dashboard_body">
                    <header>
                        <h3>صفحه درخواست های دریافتی</h3>
                    </header>
                    <main class="dashboard_received_requests">                     
                          
                        {% for buy_req in buy_requests %}
                        <section>

                            <div>
                                <label for="">درخواست از طرف : </label>
                                <span>
                                    {{buy_req.buy_request_from}}
                                </span>
                            </div>

                            <div>
                                <label for="">  درخواست به شماره توکن : </label>
                                <span id="token_id_span">
                                    {{buy_req.token.token_id}}
                                </span>
                            </div>

                            <div>
                                <label for="">  مبلغ پیش پرداختی خریدار : </label>
                                <span>
                                    {{buy_req.buy_request_prepayment}}
                                    
                                </span>
                            </div>


                            <div>
                                <label for="">  زمان دریافت درخواست : </label>
                                <span>
                                    {{buy_req.buy_request_created_date}}
                                </span>
                            </div>

                            <div class= "accept_reject_buy_request">
                                {% for item in buy_req.request.all %}
                                    {% if item.pending %}
                                        
                                    <a href="#" id="accept_buy_request" data-buyer_address="{{buy_req.buy_request_from}}" data-token_id="{{buy_req.token.token_id}}"  data-property_price="{{buy_req.token.property_of_token.property_detailes.property_price}}" data-prepayment="{{buy_req.buy_request_prepayment}}"> قبول درخواست</a>
                                    <a href="#" id="reject_buy_request">رد درخواست</a>

                                    {% else %}
                                        <div>
                                            <label for=""> وضعیت : </label>
                                            <span style="color:green; font-family:'Byekan';">
                                                شما این درخواست را پذیرفته اید
                                            </span>
                                        </div>
                                    {% endif %}                               
                                {% endfor %}
                                
                            </div>

                            {% for item in buy_req.request.all %}
                                {% if item.is_accepted %}
                                    <div id="sell_property_div">
                                        <hr>
                                        <span>
                                            <a href="#"> فروش ملک </a>
                                        </span>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </section>
                        {% endfor %} 

                    </main>
                </div>
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
                
            </section>

    </section>

{% endblock content %}