{% extends "shared/_layout.html" %}

{% load render_partial %}


{% load static %}

{% block title %}صفحه حساب کاربری{% endblock title %}

{% block content %}

    <section class="dashboard_container">

            <section class="home_body_header">
                <header>
                    <h4>املاک و مستغلات/حساب کاربری</h4>
                </header>
            </section>

            <section class="main_dashbord">
                <div class="dashboard_body">
                    <header>
                        <h3>اطلاعات حساب کاربری</h3>
                    </header>
                    <main class="user_dashboard_info">
                        <div >
                            <label for="">نام کاربری : </label>
                            <span class="font_family_style">
                                {{current_user.username}}
                            </span>
                        </div>
                        {% if current_user.first_name and current_user.last_name %}
                        <div>
                            <label for="">نام : </label>
                            <span class="font_family_style">
                                {{current_user.first_name}}
                            </span>                          
                        </div>
                        <div>
                            <label for="">نام خانوادگی: </label>
                            <span class="font_family_style">
                                {{current_user.last_name}}
                            </span>  
                        </div>                      
                        {% else %}
                        <div>
                            <label for="">نام : </label>
                           __
                        </div>
                        <div>
                            <label for="">نام خانوادگی: </label>
                           __
                        </div>                         
                        {% endif %}

                        <div>
                            <label for="">ایمیل کاربری : </label>
                            <span class="font_family_style">
                                {{current_user.email}}
                            </span> 
                        </div>
                        <div>
                            <label for="">آدرس کیف پول : </label>
                            <p class="wallet_address_dashbord">
                                {{current_user.wallet.wallet_address}}
                            </p>
                        </div>                       
                        
                    </main>
                </div>
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}

            </section>

    </section>

{% endblock content %}