{% extends "shared/_layout.html" %}

{% load render_partial %}


{% load static %}

{% block title %}صفحه ملک های من{% endblock title %}

{% block content %}

    <div id="tokenization_modal" class="modal">
        <div class="internal_modal">
            <button>x</button>
            <p>آیا مایل به توکن سازی ملک با مشخصات زیر و با هزینه انجام تراکنش مورد نظر هستید؟</p>
            <div>
                <label>شماره ملک : </label>
                <span id="property_number" >2</span>
            </div>
            <div>
                <label>عنوان ملک : </label>
                <span id="property_title">آپارتمان</span>
            </div>
            <div>
                <label>قیمت ملک : </label>
                <span id="property_price">2000000000000</span>
            </div>
            <div>
                <label>هزینه انجام تراکنش : </label>
                <span>10000</span>
            </div>
            <section>
                <a id="do_tokenization" href="#">انجام</a>
                <a id="dont_tokenization" href="#">لغو</a>
            </section>             
        </div>
    </div>
    <div id="tokenization_result_modal" class="result_modal">
        <div class="internal_result_modal">
            <button>x</button>
            <p>عمل توکن سازی شما با موفقیت انجام شد.</p>
            <section>
                <a id="ok_result" href="#">فهمیدم</a>
            </section>             
        </div>
    </div>
    <section class="dashboard_container">

            <section class="home_body_header">
                <header>
                    <h4>املاک و مستغلات/حساب کاربری</h4>
                </header>
            </section>

            <section class="main_dashbord">
                <div class="dashboard_body">
                    <header>
                        <h3>صفحه ملک های من</h3>
                    </header>
                    <main class="dashboard_user_properties">
                        <table>
                            <thead>
                                <tr class="row_of_table">
                                    <th>شماره</th>
                                    <th>عنوان ملک</th>
                                    <th>قیمت ملک</th>
                                    <th>تایید شده/نشده</th>
                                    <th>وضعیت</th>
                                    <th>توکن سازی</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% csrf_token %}
                                {% for property in user_properties %}
                                <tr class="row_of_table">
                                    <td>{{forloop.counter}}</td>
                                    <td>{{property.property_detailes.property_title}}</td>
                                    <td>{{property.property_detailes.property_price}}</td>
                                    {% if property.is_verified and property.property_status.all.first.status == "accepted" %}
                                    <td style="color:green; font-weight:bold;">تایید شد</td>
                                    {% elif not property.is_verified and property.property_status.all.first.status == "rejected"  %}
                                    <td style="color:red; font-weight:bold;">تایید نشد</td>
                                    {% else %}
                                    <td >هنوز تایید نشده</td>
                                    {% endif %}

                                    {% if property.property_status.all.first.status == "pending" %}
                                    <td style="color:yellow; font-weight:bold;">در حال بررسی</td>
                                    {% elif property.property_status.all.first.status == "accepted" %}
                                    <td style="color:green; font-weight:bold;">پذیرفته شده</td>
                                    {% else %}
                                    <td style="color:red; font-weight:bold;">رد شده</td>
                                    {% endif %}
                                    
                                    {% if property.is_verified and property.property_status.all.first.status == "accepted" and not property.token_generated%}
                                    <td><a class="start_tokenization" href="#" data-property_id="{{ property.id }}" data-property_title="{{property.property_detailes.property_title}}" data-property_price="{{ property.property_detailes.property_price}}" style="padding:10px 20px; background-color: green; border-radius: 5px; text-decoration:none; color:white;">شروع</a></td>
                                    {% elif property.is_verified and property.token_generated %}
                                    <td style="color:blue;">توکن شده</td>
                                    {% else %}
                                    <td>غیرفعال</td>
                                    {% endif %}
                                    

                                </tr>                                
                                {% endfor %}

                            </tbody>
                            </table>       
                        </table>
                    </main>
                    <div class="created_properties_body_and_header">
                        <footer class="created_properties">
                                <span class="created_properties_title_of_footer">
                                    <h4>ملک های توکن شده</h4>
                                </span>
                                <span id="created_properties_body_of_footer">
                                    {% for token in user_tokens %}
                                        <section>
                                            <div>
                                                <label for="">عنوان ملک توکن شده : </label>
                                                {{token.property_of_token.property_detailes.property_title}}
                                            </div>
                                            <div>
                                                <label for="">شماره توکن ملک : </label>
                                                <p>
                                                    {{token.token_id}}
                                                </p>
                                            </div>
                                            <div>
                                                <label for="">وضعیت توکن ملک : </label>
                                                {% if token.is_published %}
                                                <p style="color:green;">
                                                    منتشر شده در بازار املاک.
                                                </p>
                                                {% else %}
                                                <p style="color:yellow;">
                                                    در صف انتشار
                                                </p>
                                                {% endif %}
                                            </div>
                                            <button>نمایش جزئیات</button>                            
                                        </section> 
                                    {% endfor %}
                                    
                                </span>
                           

                        </footer>
                    </div>
                </div>
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
                
            </section>

    </section>

{% endblock content %}