{% extends "shared/_layout.html" %}

{% load render_partial %}


{% load static %}

{% block title %}صفحه حساب کاربری{% endblock title %}

{% block content %}

    <section class="dashboard_container">

            <section class="home_body_header">
                <header>
                    <h4>املاک و مستغلات/حساب کاربری</h4>
                </header>
            </section>

            <section class="main_dashbord">
                <div class="dashboard_body">
                    <header>
                        <h3>اطلاعات حساب کاربری</h3>
                    </header>
                    <main class="user_dashboard_info">
                        <div>
                            <label for="">نام کاربری : </label>
                            کاربر 1
                        </div>
                        <div>
                            <label for="">نام : </label>
                           علی
                        </div>
                        <div>
                            <label for="">نام خانوادگی: </label>
                           خدایی
                        </div>
                        <div>
                            <label for="">ایمیل کاربری : </label>
                           ali@gmail.com
                        </div>
                        <div>
                            <label for="">آدرس کیف پول : </label>
                            <p class="wallet_address_dashbord">ds5rf5fdv5rg8g3wge8ra4gr35g3rs84g3sg6r4g3eg6erg6erd</p>
                        </div>                       
                        
                    </main>
                </div>
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}

            </section>

    </section>

{% endblock content %}