{% extends "shared/_layout.html" %}

{% load render_partial %}


{% load static %}

{% block title %}صفحه ملک های من{% endblock title %}

{% block content %}

    <section class="dashboard_container">

            <section class="home_body_header">
                <header>
                    <h4>املاک و مستغلات/حساب کاربری</h4>
                </header>
            </section>

            <section class="main_dashbord">
                <div class="dashboard_body">
                    <header>
                        <h3>صفحه ملک های من</h3>
                    </header>
                    <main class="dashboard_user_properties">
                        <table>
                            <thead>
                                <tr class="row_of_table">
                                    <th>شماره</th>
                                    <th>عنوان ملک</th>
                                    <th>قیمت ملک</th>
                                    <th>تایید شده/نشده</th>
                                    <th>وضعیت</th>
                                    <th>توکن سازی</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for property in user_properties %}
                                <tr class="row_of_table">
                                    <td>{{forloop.counter}}</td>
                                    <td>{{property.property_detailes.property_title}}</td>
                                    <td>{{property.property_detailes.property_price}}</td>
                                    {% if not property.is_verified %}
                                    <td>بله</td>
                                    <td style="color:green;">تایید شده</td>
                                    <td><a href="#" style="padding:10px; background-color: green;">شروع</a></td>
                                    {% else %}
                                    <td style="color:red;">خیر</td>
                                    <td style="color:yellow;">در حال بررسی</td>
                                    <td style="color:red;">غیرفعال</td>
                                    {% endif %}
                                </tr>                                
                                {% endfor %}

                            </tbody>
                            </table>       
                        </table>
                    </main>
                    <footer class="created_properties">
                        <h4>ملک های توکن شده</h4>

                        <section>
                            <div>
                                <label for="">عنوان ملک توکن شده : </label>
                                خانه ویلایی
                            </div>
                            <div>
                                <label for="">شماره توکن ملک توکن شده : </label>
                                <p>546543416354444444444444444444431684533316354111111111546845316354163451654316435</p>
                            </div>
                            <button>نمایش جزئیات</button>                            
                        </section>
                        {% comment %} <section>
                            <div>
                                <label for="">عنوان ملک توکن شده : </label>
                                خانه ویلایی
                            </div>
                            <div>
                                <label for="">شماره توکن ملک توکن شده : </label>
                                546543416354444444444444444444431684533316354111111111546845316354163451654316435
                            </div>      
                            <button>نمایش جزئیات</button>                      
                        </section>
                        <section>
                            <div>
                                <label for="">عنوان ملک توکن شده : </label>
                                خانه ویلایی
                            </div>
                            <div>
                                <label for="">شماره توکن ملک توکن شده : </label>
                                546543416354444444444444444444431684533316354111111111546845316354163451654316435
                            </div>    
                            <button>نمایش جزئیات</button>                        
                        </section>                             {% endcomment %}


                    </footer>
                </div>
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
                
            </section>

    </section>

{% endblock content %}