{% extends "shared/_layout.html" %}


{% block title %}{% endblock title %}

{% block content %}

    <div class="all_body">

        <main class="searched_token_body_main">

                <section class="searched_token_body_header">
                    <header>
                        <h4>املاک و مستغلات/مشخصات توکن</h4>
                    </header>
                </section>


                <section class="main_dashbord">
                    <div class="dashboard_body">
                        <header>
                            <h3>صفحه مشخصات توکن</h3>
                        </header>
                        <main id="searched_token_information">
                            {% if status %}

                            <div>
                                <div id="current_token">
                                    <label for="">شماره توکن : </label>
                                    <span style="font-family: 'Courier New', Courier, monospace;">
                                        {{token.token_id}}
                                    </span>
                                </div>

                                <div>
                                    <label for="">تاریخ ایجاد توکن : </label>
                                    <span style="font-family: 'Courier New', Courier, monospace;">
                                        {{token.token_created_date}}
                                    </span>    
                                </div>

                                <div>
                                    <label for="">وضعیت توکن : </label>
                                    {% if token.is_published %}
                                        <span style=" color: green; font-weight:bold;">
                                                منتشر شده در بازار املاک
                                        </span>    
                                    {%else%}
                                        <span style=" color: yellow; font-weight:bold;">
                                            در صف انتشار
                                        </span> 
                                    {% endif %}

                                </div>

                                <div>
                                    <label for="">عنوان ملک توکن شده : </label>
                                    <span >
                                        <a href="{% url "property-detailes" property_id=token.property_of_token_id %}" style="text-decoration:none; font-weight:bold; color:burlywood;">
                                            {{token.property_of_token.property_detailes.property_title}}
                                        </a>
                                    </span>    
                                </div>

                                <hr>
                                <div>
                                    <label for="">اولین مالک توکن : </label>
                                    <span style="font-family: 'Courier New', Courier, monospace;">
                                        <a href="#" style="text-decoration:none;"> {{token.property_of_token.property_creator.wallet.wallet_address}} </a>
                                    </span>    
                                </div>
                                <div>
                                    <label for="">مالک فعلی توکن : </label>
                                    <span style="font-family: 'Courier New', Courier, monospace;">
                                        <a href="#" style="text-decoration:none;"> {{token.property_owner_address}} </a>
                                    </span>    
                                </div>
                                <hr>

                                <div>
                                    <main class="mined_trxs">
                                        <table>
                                            <thead>
                                                <tr class="row_of_table">
                                                    <th id="trx_hash">هش تراکنش</th>
                                                    <th id="trx_operation">عملیات</th>
                                                    <th id="trx_status">وضعیت</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    {% for trx in trxs %}
                                                        <tr class="row_of_table">
                                                            <td id="trx_hash_number">
                                                                <a href="{% url "trx" trx_hash=trx.transaction_hash %}">{{trx.transaction_hash}}</a>
                                                            </td>
                                                            <td id="trx_operation_style">
                                                                {% if trx.transaction_type == "miner_reward" %}
                                                                    <span >انتقال پاداش</span>
                                                                {% elif trx.transaction_type == "tokenization" %}
                                                                    <span >توکن سازی ملک</span>
                
                                                                {% elif trx.transaction_type == "buy_request" %}
                                                                    <span >درخواست خرید ملک</span>
                
                                                                {% elif trx.transaction_type == "accept_buy_request" %}
                                                                    <span >پذیرش درخواست خرید</span>
                
                                                                {% elif trx.transaction_type == "reject_buy_request" %}
                                                                <span >رد درخواست خرید</span>
                                                            
                                                                {% elif trx.transaction_type == "buy_operation" %}
                                                                <span >خرید ملک</span>
                                                                                                    
                                                                {% else %}
                                                                <span >فروش ملک</span>
                                                                
                                                                {% endif %}
                                                            </td>
                                                            <td id="trx_status_result">
                                                                {% if trx.trx_status.all.first.status == "published" %}
                                                                    منتشر شده 
                                                                {% elif trx.trx_status.all.first.status == "not_published" %}
                                                                    منتشر نشده
                                                                {%else%}
                                                                    در صف انتشار
                                                                {% endif %}  
                                                    
                                                            </td>
                                                        </tr>                                
                                                    {% endfor %}  
                
                
                                            </tbody>    
                                        </table>
                                    </main>
                                </div>

                            </div>
                            {% else %}
                                <span id="no_token_info">چنین توکنی یافت نشد</span>
                            {% endif %}
                        </main>
                    </div>
                    
                </section>

            

        </main>


    </div>


{% endblock content %}