{% extends "shared/_layout.html" %}


{% block title %}
    {{current_trx.trx_hash}}
{% endblock title %}

{% block content %}

    <div class="all_body">

        <main class="searched_verify_trx_body_main">

                <section class="searched_verify_trx_body_header">
                    <header>
                        <h4>املاک و مستغلات/تایید اعتبار تراکنش</h4>
                    </header>
                </section>


                <section class="main_dashbord">
                    <div class="dashboard_body">
                        <header>
                            <h3>صفحه تاییدیه اعتبار تراکنش</h3>
                        </header>
                        <main id="searched_verify_trx_information">
                            {% if status %}
                                <div>
                                    {% if valid %}
                                        <span style="color: green; font-weight:bold; direction:rtl;">
                                            {{message}}
                                        </span>
                                    {%else%}
                                        <span style="color: rgb(216, 68, 68); font-weight:bold; direction:rtl;">
                                            {{message}}
                                        </span>
                                    {% endif %}
                                </div>

                            {% else %}
                            <div>
                                <span id="no_verify_trx_info">چنین تراکنشی یافت نشد</span>

                            </div>
                            {% endif %}
                        </main>
                    </div>
                    
                </section>

            

        </main>


    </div>


{% endblock content %}