* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan.eot');
    src: url('../fonts/BYekan.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BYekan.woff') format('woff'),
        url('../fonts/BYekan.ttf') format('truetype'),
        url('../fonts/BYekan.svg#BYekan') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    /* background-color: #334244; */

    background: rgb(115, 155, 175);
    background: linear-gradient(90deg, rgba(115, 155, 175, 1) 0%, rgba(74, 107, 126, 1) 100%);
    font-family: "BYekan";


    /* background-image: url("../images/nbinpkjxbxviegwjnorspdmnrwhdhigl.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;
    background-position: 0;
    background-size: 1400px 700px; */
}


/* ///////////////////////////////////// */

.all_body {
    /* background-color: red; */
    margin: 10px 0;
    display: flex;
    flex-flow: wrap row;
    height: auto;
    width: 100%; 
    justify-content: center;
    align-items: center;
    padding: 0 3%;
}



