.home_body_main{
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    align-items: stretch;

}

.home_body_header{
    /* background-color: yellow; */
    padding: 10px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
    /* width: 100%; */
    border-bottom: solid 1px white;


}


.home_body {
    /* background-color: blue; */
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-end;
    align-items: center;
}




.home_body section{
    background-color: #bce2e9;
    flex-basis: 24%;
    height: auto;
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px 20px 20px 10px;
    margin: 15px 5px;
    /* text-align: right; */
    border: solid 1px #b8e2e9;
    border-radius: 7px;
}

.home_body section img {
    margin: 10px 0;
    width: 96%;
    height: 250px;
    border-radius: 5px;
}

.home_body section h3,
.home_body section p {
    direction: rtl;
    /* text-align: right; */
}