.login_body{
    margin: 20px auto;
    margin-bottom: 50px;
    /* background-color: red; */
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}


.login_form{
    width: 25rem;
    background-color: #bce2e9;
    padding: 60px 40px 80px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    border: solid 1px #b8e2e9;
    border-radius: 5px;
}

.login_header h2{
    text-align: right;
    margin-bottom: 20px;
}



.login_form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    align-items: flex-end;

}

#login_username,
#login_email,
#login_password{
    height: 30px;
    width: 100%;
    margin: 10px 0;
    direction: rtl;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(16, 139, 139);
}

#login_button{
    height: 40px;
    width: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(25, 204, 204);
}

label{
    direction: rtl;
    margin-top: 5px;

}

/* ///////////////////////////////// */



.errorlist {
    color: red;
    font-size: 0.8em;
    direction: rtl;
    list-style: none;
}