.dashboard_user_properties {
    /* background-color: blue; */
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /* min-height: 500px; */
    padding: 30px;
}

.dashboard_user_properties table {
    width: 100%;
    border: solid 1px #78999f;
    border-radius: 5px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: flex-end;
    table-layout: fixed;
}

.dashboard_user_properties table thead,
tbody {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    align-items: center;
    direction: rtl;
}

.dashboard_user_properties table thead {
    border-radius: 5px 5px 0 0;
    background-color: #67a4af;
}

.dashboard_user_properties table tbody .row_of_table {
    background-color: #396972;
}

.dashboard_user_properties .row_of_table {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;
    /* flex: 1; */
    /* border: solid 1px red; */
    margin: 2px;
    padding: 20px 0;
    border-radius: 5px;
}

.dashboard_user_properties table thead .row_of_table {
    padding: 0;
}

/* ////////////////////////////////////// */

.created_properties_body_and_header {
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}


.created_properties {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px #78999f;
    padding: 20px 0;
    border-radius: 5px;
}

.created_properties_title_of_footer {
    width: 100%;
}

.created_properties .created_properties_title_of_footer h4 {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: solid 1px #78999f;
    padding-bottom: 20px;
    padding-right: 25px;
    direction: rtl;
    margin: 10px 0;
}

#created_properties_body_of_footer{
    width: 100%;
    padding: 25px;
}

.created_properties #created_properties_body_of_footer section {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    border-radius: 5px;
    background-color: #396972;
    margin: 10px 0 20px 0;
}

.created_properties #created_properties_body_of_footer section div {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: baseline;
    direction: rtl;
}

.created_properties #created_properties_body_of_footer section div p,label {
    max-width: 600px;
    overflow-wrap: break-word;
    /* word-wrap: break-word; */
    overflow: hidden;
    margin: 10px;
}

.created_properties #created_properties_body_of_footer section button {
    width: 30%;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(20, 151, 151);
}