.property_detailes_body {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 500px;
    /* background-color: rebeccapurple; */
    margin: 20px 0;
    padding: 20px;
}

.property_detailes_body div {
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: stretch;
    border: solid 1px white;
    border-radius: 5px;
    padding: 20px;
}


.property_detailes_body div .property_img_and_button {
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    align-items: center;
}


.property_detailes_body div .property_img_and_button img {
    height: 400px;
    width: 400px;
    border-radius: 5px;
}

.property_detailes_body div .property_img_and_button a {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(50, 158, 158);
}


.property_detailes_body div .property_detailes_section {
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    align-items: flex-end;
}

.property_detailes_body div .property_detailes_section h3 {
    padding-bottom: 30px;
}

.property_detailes_body div .property_detailes_section span {
    display: flex;
    flex-flow: wrap row-reverse;
    justify-content: stretch;
    align-items: center;
    padding-bottom: 10px;
}

.property_detailes_body div .property_detailes_section span h4 {
    padding-left: 40px;
}

#property_detailes_property_price {
    color: green;
    font-weight: bold;
}


.property_detailes_body div .property_detailes_section section {
    /* width: 100%; */
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: flex-end;
    /* max-width: 400px; */
    overflow-x: hidden;
    overflow-wrap: break-word;
    padding-bottom: 20px;
}

.property_detailes_body div .property_detailes_section section label {
    /* width: 100%; */
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
    font-weight: bold;
}


.property_detailes_body div .property_detailes_section p {
    display: flex;
    flex-flow: wrap row-reverse;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}


.property_detailes_body div .property_detailes_section section span {
    direction: rtl;
}

/* ////////////////////////////////////////////////////////////// */



.buy_request_modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    padding: 25% 30%;
    transform: translate(-50%, -50%);
    /* background-color: #396972; */
    z-index: 2;
}


.internal_buy_request_modal {
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: #396972;
    border: solid 1px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.internal_buy_request_modal button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 2px;
    padding: 3px 5px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}


.internal_buy_request_modal p {
    width: 100%;
    /* background-color: red; */
    color: white;
    border: none;
    padding: 20px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    direction: rtl;
}

.internal_buy_request_modal div {
    width: 100%;
    padding: 0 25px;
    color: white;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: center;
    direction: rtl;
    font-weight: bold;

}

.internal_buy_request_modal #token_number {
    overflow-wrap: break-word;
    overflow: hidden;
}


.internal_buy_request_modal section {
    width: 100%;
    padding: 0 25px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;

}


.internal_buy_request_modal section a {
    padding: 5px 20px;
    margin: 20px 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.internal_buy_request_modal section #do_buy_request {
    background-color: green;
}




.internal_buy_request_modal section #dont_buy_request {
    background-color: red;
}

/* /////////////////////////////////////// */

.buy_request_result_modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    padding: 25% 30%;
    transform: translate(-50%, -50%);
    /* background-color: #396972; */
    z-index: 2;
}


.internal_buy_request_result_modal {
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 10%;
    width: 30%;
    transform: translate(-50%, -50%);
    background-color: green;
    border: solid 1px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.internal_buy_request_result_modal button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 2px;
    padding: 3px 5px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}


.internal_buy_request_result_modal p {
    width: 100%;
    /* background-color: red; */
    color: white;
    border: none;
    padding: 20px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    direction: rtl;
}


.internal_buy_request_result_modal section {
    width: 100%;
    padding: 0 25px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;

}


.internal_buy_request_result_modal section a {
    padding: 5px 20px;
    margin: 20px 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: #169bb3;
}



/* ///////////////////////////////////////////////// */

.buy_request_prepayment {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    padding: 25% 30%;
    transform: translate(-50%, -50%);
    /* background-color: #396972; */
    z-index: 2;
}


.internal_buy_request_prepayment_modal {
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 10%;
    width: 30%;
    transform: translate(-50%, -50%);
    background-color: #396972;
    border: solid 1px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.internal_buy_request_prepayment_modal button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 2px;
    padding: 3px 5px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}


.internal_buy_request_prepayment_modal p {
    width: 100%;
    /* background-color: red; */
    color: white;
    border: none;
    padding: 20px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    direction: rtl;
}

.internal_buy_request_prepayment_modal span{
    width: 100%;
    padding: 20px;
}


.internal_buy_request_prepayment_modal #prepayment{
    border: none;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
}


.internal_buy_request_prepayment_modal section {
    width: 100%;
    padding: 0 25px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;

}


.internal_buy_request_prepayment_modal section a {
    padding: 5px 20px;
    margin: 20px 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: #169bb3;
}


.internal_buy_request_prepayment_modal section #do_prepayment {
    background-color: green;
}

.internal_buy_request_prepayment_modal section #dont_prepayment {
    background-color: red;
}

/* ///////////////////////////////////////////////////////////// */



#do_buy_request.loading::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 3px solid #ccc;
    border-top-color: #777;
    border-radius: 50%;
    animation: spin 1s infinite linear;
    margin-left: 6px;
    vertical-align: middle;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}