.searched_verify_blockchain_body_main {
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    align-items: center;
    min-height: 450px;
}


.searched_verify_blockchain_body_header {
    /* background-color: yellow; */
    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
    /* width: 100%; */
    border-bottom: solid 1px white;
}



.dashboard_body #searched_verify_blockchain_information div{
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}


