{% extends "shared/_layout.html" %}
{% load static %}

{% block title %}صفحه اصلی سیستم معاملات املاک و مستغلات{% endblock title %}

{% block content %}

<div class="all_body">

    <main class="home_body_main">

        <section class="home_body_header">
            <header>
                <h4>املاک و مستغلات/خانه</h4>
            </header>
        </section>
        
        <section class="home_body">

            {% for property in properties %}
            
            <section>
                <img src="{{property.property_detailes.property_image.url}}" alt="">
                <h3>{{property.property_detailes.property_title}}</h3>
                <p>{{property.property_detailes.property_short_description}}</p>
                <a href="{% url "property-detailes" property_id=property.id %}">جزئیات</a>
                {% comment %} <button>جزئیات</button> {% endcomment %}
            </section>
       
            {% endfor %}
        

        </section>

    </main>


</div>
    


{% endblock content %}
