{% extends "shared/_layout.html" %}
{% load static %}

{% block title %}صفحه اصلی سیستم معاملات املاک و مستغلات{% endblock title %}

{% block content %}

<div class="all_body">

    <main class="home_body_main">

        <section class="home_body_header">
            <header>
                <h4>املاک و مستغلات/خانه</h4>
            </header>
        </section>
        
        <section class="home_body">

            {% for property in properties %}
            
            <section>
                <img src="{{property.property_detailes.property_image.url}}" alt="">
                <h3>{{property.property_detailes.property_title}}</h3>
                <p>{{property.property_detailes.property_short_description}}</p>
                <button>جزئیات</button>
            </section>
       
            {% endfor %}


                {% comment %} <section>
                        <header>
                            <h3> زمین بایاز </h3>
                        </header>
                        <img src="{% static "images/property-1.jpg" %}" alt="">
                        <footer>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                        </footer>

                </section>
        
                <section>
        
                        <header>
                            <h3> زمین بایاز </h3>
                        </header>
                        <img src="{% static "images/property-2.jpg" %}" alt="">
                        <footer>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                        </footer>
  
                </section>
        
        
                <section>
        
                        <header>
                            <h3> زمین بایاز </h3>
                        </header>
                        <img src="{% static "images/property-3.jpg" %}" alt="">
                        <footer>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                        </footer>

                </section>
        
                <section>
        
                        <header>
                            <h3> زمین بایاز </h3>
                        </header>
                        <img src="{% static "images/property-4.jpg" %}" alt="">
                        <footer>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                        </footer>

                </section>
        
        
                <section>
        
                        <header>
                            <h3> زمین بایاز </h3>
                        </header>
                        <img src="{% static "images/property-5.jpg" %}" alt="">
                        <footer>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                        </footer>

                </section>
        
        
                <section>
        
                        <header>
                            <h3> زمین بایاز </h3>
                        </header>
                        <img src="{% static "images/property-6.jpg" %}" alt="">
                        <footer>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                        </footer>

                </section> {% endcomment %}
        

        </section>

    </main>


</div>
    


{% endblock content %}
