{% extends "shared/_layout.html" %}
{% load static %}

{% block title %}صفحه اصلی سیستم معاملات املاک و مستغلات{% endblock title %}

{% block content %}

<div class="all_body">

    <section>
        <header>
            <h4>املاک و مستغلات/خانه</h4>
        </header>
    </section>
    
    <section>

        <main class="home_body">

            <section>
                <article>
    
                    <header>
                        <h3> زمین بایاز </h3>
                    </header>
                    <img src="{% static "images/nbinpkjxbxviegwjnorspdmnrwhdhigl.png" %}" alt="">
                    <footer>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    </footer>
    
                </article>
            </section>
    
            <section>
                <article>
    
                    <header>
                        <h3> زمین بایاز </h3>
                    </header>
                    <img src="{% static "images/nbinpkjxbxviegwjnorspdmnrwhdhigl.png" %}" alt="">
                    <footer>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    </footer>
    
                </article>
            </section>
    
            <section>
                <article>
    
                    <header>
                        <h3> زمین بایاز </h3>
                    </header>
                    <img src="{% static "images/nbinpkjxbxviegwjnorspdmnrwhdhigl.png" %}" alt="">
                    <footer>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    </footer>
    
                </article>
            </section>
    
    
            <section>
                <article>
    
                    <header>
                        <h3> زمین بایاز </h3>
                    </header>
                    <img src="{% static "images/nbinpkjxbxviegwjnorspdmnrwhdhigl.png" %}" alt="">
                    <footer>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    </footer>
    
                </article>
            </section>
    
            <section>
                <article>
    
                    <header>
                        <h3> زمین بایاز </h3>
                    </header>
                    <img src="{% static "images/nbinpkjxbxviegwjnorspdmnrwhdhigl.png" %}" alt="">
                    <footer>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    </footer>
    
                </article>
            </section>
    
    
            <section>
                <article>
    
                    <header>
                        <h3> زمین بایاز </h3>
                    </header>
                    <img src="{% static "images/nbinpkjxbxviegwjnorspdmnrwhdhigl.png" %}" alt="">
                    <footer>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    </footer>
    
                </article>
            </section>
    
    
            <section>
                <article>
    
                    <header>
                        <h3> زمین بایاز </h3>
                    </header>
                    <img src="{% static "images/nbinpkjxbxviegwjnorspdmnrwhdhigl.png" %}" alt="">
                    <footer>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    </footer>
    
                </article>
            </section>
        </main>
    

    </section>
</div>
    


{% endblock content %}
