{% comment %} <link href="/static/css/font-awesome.min.css" rel="stylesheet"> {% endcomment %}

<link rel="stylesheet" href="/static/css/custom_style10.css">
<link rel="stylesheet" href="/static/css/header_style.css">
<link rel="stylesheet" href="/static/css/footer_style.css">
<link rel="stylesheet" href="/static/css/home_style1.css">
<link rel="stylesheet" href="/static/css/login_style2.css">
<link rel="stylesheet" href="/static/css/register_style2.css">
<link rel="stylesheet" href="/static/css/dashboard_style.css">
<link rel="stylesheet" href="/static/css/create_property_style1.css">
<link rel="stylesheet" href="/static/css/my_properties_style3.css">
<link rel="stylesheet" href="/static/css/received_requests_style.css">
<link rel="stylesheet" href="/static/css/agent_received_requests_style2.css">
<link rel="stylesheet" href="/static/css/sended_requests_style1.css">
<link rel="stylesheet" href="/static/css/user_wallet_style.css">
<link rel="stylesheet" href="/static/css/property_detailes_style1.css">
<link rel="stylesheet" href="/static/css/blocks_style1.css">
<link rel="stylesheet" href="/static/css/block_detailes_style.css">
<link rel="stylesheet" href="/static/css/transactions_style.css">
<link rel="stylesheet" href="/static/css/trx_detailes_style.css">
<link rel="stylesheet" href="/static/css/buy_and_sell_styles.css">
<link rel="stylesheet" href="/static/css/search_page_style.css">
<link rel="stylesheet" href="/static/css/user_information_style.css">
<link rel="stylesheet" href="/static/css/token_information_style.css">

