{% comment %} <link href="/static/css/font-awesome.min.css" rel="stylesheet"> {% endcomment %}

<link rel="stylesheet" href="/static/css/custom_style2.css">
<link rel="stylesheet" href="/static/css/header_style2.css">
<link rel="stylesheet" href="/static/css/footer_style.css">
<link rel="stylesheet" href="/static/css/home_style2.css">
<link rel="stylesheet" href="/static/css/login_style2.css">
<link rel="stylesheet" href="/static/css/register_style2.css">
<link rel="stylesheet" href="/static/css/dashboard_style.css">
<link rel="stylesheet" href="/static/css/create_property_style.css">
<link rel="stylesheet" href="/static/css/my_properties_style.css">
<link rel="stylesheet" href="/static/css/received_requests_style.css">
<link rel="stylesheet" href="/static/css/agent_received_requests_style.css">
<link rel="stylesheet" href="/static/css/sended_requests_style.css">