{% extends "shared/_layout.html" %}


{% block title %}جزيیات ملک {{property.property_detailes.property_title}}{% endblock title %}


{% block content %}

<div id="buy_request_prepayment_modal" class="buy_request_prepayment">
    <div class="internal_buy_request_prepayment_modal">
        <button>x</button>
        <p>لطفا پیش پرداخت مورد نظر را برای درخواست خرید برای این ملک را وارد کنید : </p>
        <span>
            <input type="number" name="prepaymentinput" id="prepayment">
        </span>
        <section>
            <a id="do_prepayment" href="#">انجام</a>
            <a id="dont_prepayment" href="#">لغو</a>
        </section>             
    </div>
</div>

<div id="buy_request_token_modal" class="buy_request_modal">
    <div class="internal_buy_request_modal">
        <button>x</button>
        <p>آیا مایل به ارسال درخواست خرید ملک با مشخصات زیر و با هزینه انجام تراکنش مورد نظر هستید؟</p>
        <div>
            <label>عنوان ملک : </label>
            <span id="buy_request_property_title">آپارتمان</span>
        </div>
        <div>
            <label>شماره توکن ملک : </label>
            <span id="token_number" >23546468461654968416351845684684168541656416514635165316541635165146531351361631</span>
        </div>
        <div>
            <label>قیمت ملک : </label>
            <span id="buy_request_property_price">2000000000000</span>
        </div>
        <div>
            <label>هزینه انجام تراکنش : </label>
            <span id="buy_request_transaction_fee">10000</span>
        </div>
        <div>
            <label>مقدار بیعانه پرداختی : </label>
            <span id="buy_request_transaction_prepayment">10000</span>
        </div>
        <section>
            <a id="do_buy_request" href="#">انجام</a>
            <a id="dont_buy_request" href="#">لغو</a>
        </section>             
    </div>
</div>
<div id="buying_request_result_modal" class="buy_request_result_modal">
    <div class="internal_buy_request_result_modal">
        <button>x</button>
        <p>عمل درخواست خرید ملک شما با موفقیت انجام شد.</p>
        <section>
            <a id="ok_buy_requestـresult" href="#">فهمیدم</a>
        </section>             
    </div>
</div>

{% comment %} /////////////////////////////////////////////////////// {% endcomment %}

<main class="home_body_main">

    <section class="home_body_header">
        <header>
            <h4>جزئیات ملک با عنوان {{property.property_detailes.property_title}}</h4>
        </header>
    </section>
    
    <section class="property_detailes_body">
        {% csrf_token %}
        <div>
            <section class = "property_img_and_button">
                <img src="{{property.property_detailes.property_image.url}}" alt="تصویر ملک">

                {%if status == 'super_user'%}
                    <span></span> 
                {%elif status == 'gov_agent'%}
                    <span>
                        <a style="padding: 10px 50px;" href="{{property.property_detailes.property_document.url}}">مشاهده سند</a>
                    </span> 
                {% elif request.user.wallet.wallet_address == property.property_owner_address %}
                    <span style="color:green; font-weight:bold; padding:10px 20px; border:solid 1px white; border-radius:5px;">
                        شما مالک این ملک هستید
                    </span>
                {%elif status%}
                    <span style="color:skyblue; font-weight:bold; padding:10px 20px; border:solid 1px white; border-radius:5px;">
                        شما قبلا درخواست خرید را به این ملک ارسال کرده اید
                    </span>   
                {% else %}
                    {% for token in property.property_of_token.all %}
                        <a href="#" id= "start_buy_request" data-token_id="{{token.token_id}}"   data-property_title="{{property.property_detailes.property_title}}" data-property_price="{{property.property_detailes.property_price}}">درخواست خرید</a>
                    {%endfor%}
                {% endif %}
            </section>
            <section class = "property_detailes_section">
                <h3>عنوان ملک : {{property.property_detailes.property_title}}</h3>
                <span>
                    <h4>شماره ملک : {{property.id}}</h4>
                    <h4>نوع ملک : {{property.property_detailes.property_type}}</h4>
                    <h4>متراژ ملک : {{property.property_detailes.property_length}}</h4>
                    <h4 id= "property_detailes_property_price">قیمت ملک : {{property.property_detailes.property_price}}</h4>
                </span>
                {% for token in property.property_of_token.all %}
                <section>
                    <label for="">شماره توکن ملک : </label>
                    <h5> {{token.token_id}}</h5>
                </section>
                {% endfor %}
                <section>
                    <label for=""> ایجاد کننده ملک : </label>
                    <p>{{property.property_creator.wallet.wallet_address}}</p>
                </section>
                <section>
                    <label for=""> مالک : </label>
                    {% if property.property_owner_address %}
                        <p>{{property.property_owner_address}}</p>
                    {% else %}
                        <p style="font-family:'Byekan'">نا مشخص</p>
                    {% endif %}
                </section>
                <section>
                    <label for=""> زمان ایجاد ملک : </label>
                    <span>{{property.property_created_date}}</span>
                </section>

                <section>
                    <label for="">آدرس نشانی ملک : </label>
                    <span>{{property.property_detailes.property_address}}</span>
                </section>

                <section>
                    <label for="">توضیحات: </label>
                    <span>{{property.property_detailes.property_description}}</span>
                </section>

            </section>
        </div>

    </section>

</main>

{% endblock content %}