{% load static %}

<section class="menu_container">

        <header class="menu">

            {% if current_port >= 5000 and current_port < 8000 %}
                
            {% else %}
                <div class="login_register_container">

                    {% if request.user.is_authenticated %}
                    
                        <div class="user_logo">
                            {% if request.user.avatar %}
                            <img src="{{request.user.avatar.url}}" alt="تصویر کاربر">
                            {% else %}
                            <img src="" alt="تصویر کاربر">
                            {% endif %}
                        </div>

                        <div class="user_detailes">
                            <a id="user" href="#"> {{request.user.email}}</a>
                            <div class="dropdown-content" id="myDropdown">
                                <div class="flex_dropdown">
                                    <a href="{% url "user-dashboard" %}">حساب کاربری</a>
                                    <a href="{% url "logout-page" %}">خروج</a>
                                </div>
                            </div>           
                        </div>                    
                    {% else %}
                    
                        <div class="login_register">
                            <a href="{% url "login-page" %}">ورود</a>/
                            <a href="{% url "register-page" %}">ثبت نام</a>
                        </div>
                    
                    {% endif %}


                </div>
            {% endif %}

            <div class="menu_links">

                <div>
                    <a id="search_operation" href="{% url "search-page" %}">پیگیری</a>
                </div>

                <div>
                    <a href="{% url "trxs-page" %}">تراکنش ها</a>
                </div>

                <div>
                    <a href="{% url "blocks-page" %}">بلاک ها</a>
                </div>

                {% comment %} <div>
                    <a href="#">شبکه بلاکچین</a>
                </div> {% endcomment %}

                {% comment %} <div>
                    <a href="#">بازار املاک</a>    
                </div> {% endcomment %}

                <div>
                    <a href="{% url "home-page" %}">بازار املاک</a>
                </div>
            </div>


            <div class="real_estate_container">
                <div class="system_title">
                    <h3>املاک و مستغلات</h3>
                </div>
                <div class="system_logo">
                    <img src="{% static "images/real-estate-logo_74869-159.avif" %}" alt="">
                </div>
            </div>


    
    
        </header>


</section>